# Go
# Ignore binary files and build artifacts
*.exe
*.o
*.a
*.test
*.prof

# Ignore Go module dependencies
/go.sum
/go.mod

# IDE/Editor specific files
.vscode
.idea

# Dependency management files
vendor/
Godeps/

.env